<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Data Support</title>
</head>
<body>
<h1 align="center"> <font size="7" color="Blue">Data Support</font></h1>
<hr/>
<h2 align="center">Bem Vindo!</h2>
<h3 align="center">Data Support é o seu mais novo gerenciador de documentos totalmente grátis!</h3>
<hr/>
<h3>Você pode fazer o upload de documentos como:</h3>
<ol>
    <li>Documentos pessoais</li>
    <li>Documentos empresáriais</li>
    <li>Certificados Digitais</li>
    <li>Etc...</li>
</ol>
<h4>Já possui uma conta:</h4>
    <a href="http://localhost:63342/DATA%20SUPPORT/app/Templates/login.html?_ijt=tt4hom5reukrnhs9aohsmk929k&_ij_reload=RELOAD_ON_SAVE" target="_blank" title="login">Faça login</a>
<h4>Cadastre-se:</h4>
    <a href="http://localhost:63342/DATA%20SUPPORT/app/Templates/cadastro.html?_ijt=g1ok1nu72t594m0bl37d27v0v3&_ij_reload=RELOAD_ON_SAVE" target="_blank" title="Cadastro">Cadastre-se</a>
</body>
</html>
